In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import os
from sklearn.preprocessing import MultiLabelBinarizer

In [192]:
df = pd.read_csv('zomato.csv', encoding='ISO-8859–1')

In [193]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [194]:
dc = pd.read_excel('Country-Code.xlsx')

In [195]:
dc.reset_index()

    index  Country Code         Country
0       0             1           India
1       1            14       Australia
2       2            30          Brazil
3       3            37          Canada
4       4            94       Indonesia
5       5           148     New Zealand
6       6           162     Phillipines
7       7           166           Qatar
8       8           184       Singapore
9       9           189    South Africa
10     10           191       Sri Lanka
11     11           208          Turkey
12     12           214             UAE
13     13           215  United Kingdom
14     14           216   United States

In [196]:
df_grand = df.merge(dc, on='Country Code', how='outer')

In [197]:
df_grand.drop('Country Code', axis=1, inplace=True)

In [198]:
df_grand.dropna(inplace=True)

In [199]:
df_grand.columns

Index(['Restaurant ID', 'Restaurant Name', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

In [200]:
df_grand['Cuisines']

0             French, Japanese, Desserts
1                               Japanese
2       Seafood, Asian, Filipino, Indian
3                        Japanese, Sushi
4                       Japanese, Korean
                      ...
9546                             Turkish
9547     World Cuisine, Patisserie, Cafe
9548              Italian, World Cuisine
9549                     Restaurant Cafe
9550                                Cafe
Name: Cuisines, Length: 9542, dtype: object

In [201]:
df_grand['Cuisines'] = df_grand['Cuisines'].str.split(', ')

In [202]:
# mlb = MultiLabelBinarizer()
# mlb_fit = mlb.fit( df_grand['Cuisines'] )

In [203]:
# df_tags = pd.DataFrame(mlb_fit.transform( df_grand['Cuisines'] ), columns = mlb_fit.classes_, index = df_grand.index)
# df_tags.head()

In [204]:
# df_grand = df_grand.merge(df_tags, left_index=True, right_index=True)

In [205]:
df_grand

,Restaurant ID,Restaurant Name,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"[French, Japanese, Desserts]",1100,...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,[Japanese],1200,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"[Seafood, Asian, Filipino, Indian]",4000,...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"[Japanese, Sushi]",1500,...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"[Japanese, Korean]",1500,...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,[Turkish],80,...,No,No,No,No,3,4.1,Green,Very Good,788,Turkey
9547,5908749,Ceviz AÛôacÛ±,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"[World Cuisine, Patisserie, Cafe]",105,...,No,No,No,No,3,4.2,Green,Very Good,1034,Turkey
9548,5915807,Huqqa,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"[Italian, World Cuisine]",170,...,No,No,No,No,4,3.7,Yellow,Good,661,Turkey
9549,5916112,Aôôk Kahve,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,[Restaurant Cafe],120,...,No,No,No,No,4,4.0,Green,Very Good,901,Turkey
9550,5927402,Walter's Coffee Roastery,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,[Cafe],55,...,No,No,No,No,2,4.0,Green,Very Good,591,Turkey

In [206]:
df_grand['City'] = df_grand['City'].replace(to_replace='ÛÁstanbul', value='Istanbul')

In [207]:
df_grand['City'] = df_grand['City'].replace(to_replace='Brasí_lia', value='Brasilia')

In [208]:
df_grand.isna().any()

Restaurant ID           False
Restaurant Name         False
City                    False
Address                 False
Locality                False
Locality Verbose        False
Longitude               False
Latitude                False
Cuisines                False
Average Cost for two    False
Currency                False
Has Table booking       False
Has Online delivery     False
Is delivering now       False
Switch to order menu    False
Price range             False
Aggregate rating        False
Rating color            False
Rating text             False
Votes                   False
Country                 False
dtype: bool

In [209]:
df_grand.drop(columns=['Locality Verbose', 'Rating color'], inplace=True)

In [210]:
df_grand['Rating text'].value_counts()

Average      3734
Not rated    2148
Good         2096
Very Good    1078
Excellent     300
Poor          186
Name: Rating text, dtype: int64

In [211]:
rating_map = {'Excellent': 5,
              'Very Good': 4,
              'Good': 3,
              'Average': 2,
              'Poor': 1,
              'Not rated': 0}

In [212]:
df_grand['Rating text'].replace(rating_map, inplace=True)

In [213]:
df_grand['Rating text'].value_counts()

2    3734
0    2148
3    2096
4    1078
5     300
1     186
Name: Rating text, dtype: int64

In [214]:
df_grand['Currency'].value_counts()

Indian Rupees(Rs.)        8652
Dollar($)                  473
Pounds(£)                  80
Brazilian Real(R$)          60
Emirati Diram(AED)          60
Rand(R)                     60
NewZealand($)               40
Turkish Lira(TL)            34
Botswana Pula(P)            22
Indonesian Rupiah(IDR)      21
Qatari Rial(QR)             20
Sri Lankan Rupee(LKR)       20
Name: Currency, dtype: int64

In [215]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [216]:
df['Average Cost for two'].describe()

count      9551.000000
mean       1199.210763
std       16121.183073
min           0.000000
25%         250.000000
50%         400.000000
75%         700.000000
max      800000.000000
Name: Average Cost for two, dtype: float64

In [217]:
df[df['Average Cost for two']==800000]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
9283,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",...,Indonesian Rupiah(IDR),No,No,No,No,3,4.1,Green,Very Good,1498
9284,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",...,Indonesian Rupiah(IDR),No,No,No,No,3,4.6,Dark Green,Excellent,873

In [218]:
df['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(\x8c£)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [219]:
yesno_map = {'Yes': 1,
             'No': 0}

In [220]:
df_grand['Has Table booking'].replace(yesno_map, inplace=True)

In [221]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [222]:
df_grand['Has Online delivery'].replace(yesno_map, inplace=True)

In [223]:
df_grand['Is delivering now'].replace(yesno_map, inplace=True)

In [224]:
df_grand['Switch to order menu'].value_counts()

No    9542
Name: Switch to order menu, dtype: int64

In [225]:
df_grand.drop(columns='Switch to order menu', inplace=True)

In [226]:
df_grand.dtypes

Restaurant ID             int64
Restaurant Name          object
City                     object
Address                  object
Locality                 object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking         int64
Has Online delivery       int64
Is delivering now         int64
Price range               int64
Aggregate rating        float64
Rating text               int64
Votes                     int64
Country                  object
dtype: object

In [227]:
rate_map = {'Botswana Pula(P)': 0.090, 
            'Brazilian Real(R$)': 0.22, 
            'Dollar($)': 1,
            'Emirati Diram(AED)': 0.27, 
            'Indian Rupees(Rs.)': 0.013,
            'Indonesian Rupiah(IDR)': 0.000070, 
            'NewZealand($)': 0.64, 
            'Pounds(\x8c£)': 1.30,
            'Qatari Rial(QR)': 0.27, 
            'Rand(R)': 0.064, 
            'Sri Lankan Rupee(LKR)': 0.0055,
            'Turkish Lira(TL)': 0.16}

In [228]:
dict1 = rate_map
df_grand.loc[df_grand['Currency'].isin(dict1.keys()), 'aa'] = df_grand['Currency'].map(dict1)
df_grand['bb'] = df_grand['aa'] * df_grand['Average Cost for two']

In [229]:
df_grand.drop(columns='aa', inplace=True)

In [230]:
df_grand.rename(columns={'bb': 'Average Cost for two in USD'}, inplace=True)

In [231]:
df_grand.to_csv('~/Desktop/zomato_cleaned.csv')

In [232]:
df_grand[['Cuisine1',
          'Cuisine2',
          'Cuisine3',
          'Cuisine4',
          'Cuisine5',
          'Cuisine6',
          'Cuisine7',
          'Cuisine8']] = pd.DataFrame(df_grand.Cuisines.values.tolist(), index= df_grand.index)

In [234]:
df_grand.to_csv('~/Desktop/zomato_cleaned.csv')

In [239]:
df_all_india = df_grand.query('Country == "India"')

In [247]:
df_all_india_top_5 = df_all_india.sort_values(by=['Aggregate rating'], ascending=False).head(5)
df_all_india_top_5.to_json('top_5_india.json',orient='records')

In [254]:
df_all_india_1 = df_all_india.query("`Price range` == '1'")
df_all_india_2 = df_all_india.query("`Price range` == '2'")
df_all_india_3 = df_all_india.query("`Price range` == '3'")
df_all_india_4 = df_all_india.query("`Price range` == '4'")

In [255]:
df_all_india_1.to_json('price_range_1.json',orient='records')
df_all_india_2.to_json('price_range_2.json',orient='records')
df_all_india_3.to_json('price_range_3.json',orient='records')
df_all_india_4.to_json('price_range_4.json',orient='records')

4